.commit {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.commit:focus,
.commit:hover {
  border-color: $title-text-color;
}

.win-name {
  border-style: none;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.win-name:hover {
  border-color: $title-text-color;
}
.win-name:focus {
  border-color: $title-text-color;
}

.win-name:focus ~ .nirvana {
  fill: $title-text-color;
}
.win-name:hover ~ .nirvana {
  fill: $title-text-color;
}

.win-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
  color: $accent-color;
  transform: translateY(100%);
  margin-top: 18px;
  margin-bottom: 30px;
}
.win-bt {
  color: $primary-beg-color;
  background-color: $title-text-color;
  font-family: $font-famali;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  margin: auto;
}
.win-form {
  display: flex;
  flex-direction: column;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 25px;
}
.wind-name {
  position: relative;
  margin-bottom: 28px;
}
.wind-com {
  position: relative;
  margin-bottom: 20px;
}

.nirvana {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  fill: $accent-color;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 13px;
  pointer-events: none;
}
.dynoro {
  position: absolute;
  top: -20px;
  left: 0;
  fill: currentColor;
}
.win-form:checked + .win-ok::before {
  background-image: url(../image/ok.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px;

  background-color: $title-text-color;
}
.win-ok {
  /* display: flex;
  align-items: center; */
  margin-bottom: 30px;
  font-size: 14px;
}
.win-ok::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  background: $primary-beg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 9px;
  background: url(../image/ok.svg);
}
